<div class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-between align-items-center px-5 my-4 fixed-bottom">
    <p class="col-md-4 mb-0 text-muted">© 2023 Inscribe, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none fw-bold">
      Inscribe
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/dashboard" class="nav-link px-2 text-muted">Notes</a></li>
      <li class="nav-item"><a href="/todo" class="nav-link px-2 text-muted">To-Do</a></li>
    </ul>
  </footer>
</div>