* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    background-color: #f2f2f2;
    padding: 5rem;
    margin: 2rem auto;
    border-radius: 15px;
    box-shadow: 2px 2px 1px;
}

.todo-app-container .todo-app {
    width: 100%;
    max-width: 650px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app-container .todo-app h2 {
    color: black;
    display: flex;
    align-items: center;
}

.todo-app-container .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.todo-app-container input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.todo-app-container button {
    flex: 0.3;
    border: none;
    outline: none;
    padding: 16px 50px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.todo-app-container ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.todo-app-container ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.todo-app-container ul li.checked {
    color: #555;
    text-decoration: line-through;
}

.todo-app-container ul li.checked::before {
    background-image: url(../images/checked.png);
}

.todo-app-container ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.todo-app-container ul li span:hover {
    background: #edeef0;
}